table {
  max-width: 63.3vw;
}

thead {
  max-width: 63.3vw;
  height: 58px;

  background: hsl(0, 0%, 98%);
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  margin-bottom: 21px;
}

.th-label {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
}

th,
td {
  white-space: normal;
  text-overflow: ellipsis;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  width: 10.54vw;
}

th {
  cursor: pointer;
}

tr {
  font-family: "Lato", sans-serif;
  padding: 20px 7px 20px 10px;

  display: flex;
  align-items: center;
}

.orderBy {
  display: flex;
  margin-left: 3px;
}

tbody {
  position: relative;
}

.polygon {
  position: absolute;
  left: 0;
  top: -8px;
}
