* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.card-controle {
  position: relative;
  min-width: 100vw;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.display-none {
  display: none;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.font-lato {
  font-family: "Lato", sans-serif;
}

.font-rubik {
  font-family: "Rubik", sans-serif;
}

.font-bold {
  font-weight: bold;
}

.font-normal {
  font-weight: normal;
}
